/* Website Colors */
:root {
  --ff-green: #8BB174;
  --orange: #FF931F;
  --blue: #3F88C5;
  --black: #262626;
}

/* General Styling */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Homepage */


/* Header */

/* Footer */
footer {
  background-color: var(--black);
}

footer p {
  color: var(--orange);
}