/* Website Colors */
:root {
  --darkest-green: #2A4D14;
  --dark-green: #317B22;
  --maroon: #8C271E;
  --orange: #E98A15;
}

/* General Styling */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Homepage */
main {
  background-color: var(--dark-green);
}

main section:first-of-type {
  height: 800px;
  background-image: url("./assets/soccer_stadium.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-family: PT Serif, serif;
  font-size: 72px;
  color: var(--dark-green);
  text-align: center;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: var(--dark-green);
}

/* Footer */
footer {
  background-color: var(--darkest-green);
}

footer p {
  color: var(--orange);
}